<div class="page">
    <mat-card class="signUp-card">
      <mat-card-header class='signUp-header'>
        <mat-card-title class="signUp-title">ChatWorks signUp</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form (ngSubmit)="submitSignUp($event)" class="signUp-form" #signUpForm="ngForm">
          <mat-form-field>
            <input matInput placeholder="Email Address" id="inputEmail" [(ngModel)]="account.email" name="email" #email="ngModel" autocomplete="username email" required autofocus>
          </mat-form-field>
          <mat-form-field>
            <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" id="inputPassword" [(ngModel)]="account.password" name="password"
              #password="ngModel" autocomplete="new-password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <mat-form-field>
              <input [type]="hide ? 'password' : 'text'" matInput placeholder="PasswordConfirmation" id="inputPasswordConfirmation" [(ngModel)]="account.passwordConfirmation" name="passwordConfirmation"
                #password="ngModel" autocomplete="new-password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          <button type="submit" mat-raised-button color="primary" [disabled]="signUpForm.invalid">signUp</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
